body{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
h1{
    color: purple;
    text-align: center;
}
p{
    color:#333;
    font-size: 18px;
}
button{
    background-color: green;
    color: white;
    padding: 8px 15px;
    border: 1;
    border-radius: 5px;
}